
body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#jeemlogo{
    width: 3opx;
    height: 30px;
    padding-left: 600px;
    padding-top: 3px;
    margin-top: 5px;
}
.large{
    height: 15px;
    position: relative;
    bottom: 5px;
    font-size: 200%;
    text-decoration:solid;
}
.menu{
    height: 40px;
    border-top: 2px groove gainsboro;
    border-bottom: 2px groove gainsboro;
}
.tv{
    
    position: relative;
    bottom: -7px;
    left: 220px;
    font-size:large;
    color: black;
    text-decoration: none;
    margin: 7px;
}
#livetv{
    background-color: red;
    color:white;
    width: 30px;
    height: 20px;
}
.three{
    position: relative;
    left: 220px;
    top: 10px;
}
.search{
    position: relative;
    left: 230px;
    top: 10px;
    width: 20px;
    height: 20px;
}
#corona{
    color: red;
    background-color: white;
}
.geo{
    position: relative;
    left: 235px;
    top: 7px;
    color: white;
    text-decoration: none;
    background-color: blue;
    font-size: x-large;
}
a:hover{
    background-color: orange;
}
.coronadiv{
    width: auto;
    height: 80px;
    background-color: white;
    margin-top: 10px;
    text-decoration: none;
}
.stories{
    
    width: 430px;
    height: 395px;
    margin-top: 50px;
    margin-left: 50px;
    border-right: 1px groove gainsboro ;
    float: left;
}
#video1{
    position: relative;
    top: -30px;
    
}
.heading{
    position: relative;
    top: -60px;

}
#headingtext{
    position: relative;
    top: -70px;
    

}
.topstories{
    
    width: 550px;
    float: left;
    height: 400px;
    margin: 50px 20px 0px 20px;
    border-right: 1px groove gainsboro ;

}
.editor{
    border-top: 3px solid black;
    float: left;
    margin: 50px 5px 0px 5px;
    width: 200px;
    
}
